<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".ExampleApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.ScanbotExample"
        tools:targetApi="31">


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".usecases.SingleBarcodeActivity"
            android:label="Scanning Single Barcodes"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".usecases.TinyBarcodeActivity"
            android:label="Scanning Tiny Barcodes"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".usecases.DistantBarcodeActivity"
            android:label="Scanning Distant Barcodes"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".usecases.MultipleBarcodeActivity"
            android:label="Scanning Multiple Barcodes"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".usecases.BatchScanningActivity"
            android:label="Batch Scanning"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".usecases.AR_MultiScanActivity"
            android:label="AR-MultiScan"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".usecases.AR_SelectScanActivity"
            android:label="AR-SelectScan"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".usecases.AR_FindAndPickActivity"
            android:label="AR-FindAndPick"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".usecases.AR_ScanAndCountActivity"
            android:label="AR-ScanAndCount"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".usecases.DetectionOnTheImageActivity"
            android:label="Detecting Barcodes on Still Images"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />


    </application>

</manifest>